$max-width: 80em; //catalog width

//colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-border: rgba(0, 0, 0, 0.24);
$color-header-bg: rgb(58, 96, 115);
$color-header-text: $color-white;

$font-family-default: "Bitter";